<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
      </div>

      <div class="footer-col footer-col-2">
      </div>

      <div class="footer-col footer-col-3">
    		<span style="display:block;text-align:right">
    			&copy; {{ site.time | date: '%Y' }} <a href="mailto:mark.hary@gmail.com" class="black">Mark Hary</a>
      		<img src="{{ BASE_PATH }}/assets/markhary.png" width="40" -->
    		</span> 

      </div>
    </div>

  </div>

</footer>
