<header class="site-header">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container-narrow">
        {%- assign default_paths = site.pages | map: "path" -%}
        {%- assign page_paths = site.header_pages | default: default_paths -%}
        {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
        <a class="brand" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

        {%- if titles_size > 0 -%}
          <ul class="nav">
            {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title -%}
            <li><a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
            {%- endif -%}
            {%- endfor -%}

            <li><a class="page-link" href="https://github.com/markhary"> <i class='fab fa-github' style='font-size:24px'></i> </a></li>
            <li><a class="page-link" href="https://medium.com/@mark.hary"> <i class='fab fa-medium' style='font-size:24px'></i> </a></li>
            <li><a class="page-link" href="https://linkedin.com/in/markhary"> <i class='fab fa-linkedin' style='font-size:24px'></i> </a></li>
            <li><a class="page-link" href="https://twitter.com/hary_mark"> <i class='fab fa-twitter' style='font-size:24px'></i> </a></li>
            <li><a class="page-link" href="https://angel.co/mark-hary"> <i class='fab fa-angellist' style='font-size:24px'></i> </a></li>
          </ul>
        {%- endif -%}

      </div>
    </div>
  </div>
</header>


